.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 3px 13px;
    color: white;
    background: #89a1e9;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.my-2 {
    margin: 12px 0;
}
